/* ======= RESET ========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  background: #e0e0e0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

#header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: black;
  background-color: #311718 ;
  border-bottom: coral 3px solid;
  margin-bottom: 100px;
}

#header nav.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul{
  display: flex;
}

.menu ul {
  margin-right: 60px;
  padding: 10px;
  border-radius: 10px;
}

.menu ul li {
  margin-right: 30px;
}

.menu ul li a:hover {
  color: #F6A588;
}

.menu ul li a {
  color: #ffffff;
}

nav a img {
  margin-top: 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.container {
  max-width: 1200px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  margin: auto;
}

div.container img {
  width: 13.75rem;
  height: 9.375rem;
  border-radius: 10px;
}

.boximg {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, .6) 2px 2px;
  background-color: #311717e3;
  border-radius: 5px;
}

div.container div {
  margin-top: 45px;
  width: 31.25rem;
}

.caixamsg {
  border-radius: 2px;
  border: 1px  solid coral;
  padding: 10px;
  box-shadow: rgba(255, 127, 80, 0.699) 2px 2px 3px;
  background-color: #f4f4f4;
}

.caixamsg h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.caixamsg p {
  font-family: sans-serif;
  margin-bottom: 40px;
  color: #1b1919;
  font-size: 17px;
}

.caixamsg a button {
  font-size: 20px;
  padding: 15px;
  color: white;
  background: #311718f1;
  cursor: pointer;
  border: none;
}

.caixamsg a button:hover {
  background: #311718;
  color: coral;
}

.divider {
  margin-top: 170px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #F6A588 , #ffa218,  #cf4e52 , #311718af);
    
}

#section2 .container02 {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#section2  h2 {
  margin-top: 25px;
  color: black;
  font-size: 35pt;
  font-family: sans-serif;
}

#section2 .cont p {
  font-size: 12pt;
  font-family: sans-serif;
  text-align: center;
}

#section2 .cont{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

#section2 .cont .card {
  background-color: blue;
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 5px;
  border-bottom: #F6A588 3px solid;
  white-space: normal;
  word-break: break-all;
}

#section2 .cont .card i {
  margin-top: 50px;
  padding: 80px;
  font-size: 5rem;
  color: #8cc24ea9;
}




#section3 .caixamsg a button#contato {
  font-size: 20px;
  padding: 15px;
  border-radius: 8px;
  color: white;
  background:  #34af23;
  cursor: pointer;
  border: none;
  width: 250px;
}


#section3 .caixamsg a button#contato i{
  font-size: 25px;
  margin-right: 10px;
}

#section3 .caixamsg a button#contato:hover {
  background: #09bd12d5;
}

#section3 .links {
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

#section3 .links ul li {
  margin-top: 15px;
  display: flex;
}

#section3 .links ul li i{
  margin-right: 15px;
  margin-top: 2px;
  color:  #34af23;
}

footer {
  height: 220px;
  background-color: #311718ee;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 100px;
}

footer .container > div {
  margin-top: 50px;
}

footer .container > div p {
  margin-top: 30px;
}

footer .container > div a {
  font-size: 30px;
}

footer .container >div i {
  color: salmon;
  margin-left: 10px;
}

footer .container >div i:hover {
  color: rgb(255, 73, 52);
}
footer .container >div a {
  text-decoration: none;
  color: #F6A588;
}

footer .container >div a span {
  color: rgb(255, 0, 179);
}

.container-foto {
  width: 85rem;
  margin: 0 auto;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-foto img {
  width: 250px;
  height: 250px;
  background-color: rgba(255, 0, 179, 0.103);
  display: flex;
  margin: 4px;
  padding: 2px;

}