/* ======= RESET ========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  background: #f8f9fa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

#header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: black;
  background-color: #311718 ;
  border-bottom: coral 3px solid;
  margin-bottom: 100px;
}

#header nav.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul{
  display: flex;
}

.menu ul {
  margin-right: 60px;
  padding: 10px;
  border-radius: 10px;
}

.menu ul li {
  margin-right: 30px;
}

.menu ul li a:hover {
  color: coral
}

.menu ul li a {
  color: #ffffff;
}

nav a img {
  margin-top: 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.container {
  margin-left: 200px;
  max-width: 1200px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

div.container img {
  width: 220px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}

.boximg {

 margin-right: -50px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, .6) 2px 2px;
  background-color: #311717e3;
  border-radius: 5px;
}

div.container div {
  width: 500px;
  
}

.caixamsg {
  border: 2px  solid coral;
  padding: 10px;
  border-radius: 10px;
  box-shadow: coral 3px 3px;
  background-color: #f4f4f4;
  margin-left: 170px;
}

.caixamsg h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.caixamsg p {
  font-family: sans-serif;
  margin-bottom: 40px;
  color: #1b1919;
  font-size: 17px;
}

.caixamsg a button {
  font-size: 20px;
  padding: 15px;
  border-radius: 8px;
  color: white;
  background: #311718f1;
  cursor: pointer;
  border: none;
}

.caixamsg a button:hover {
  background: #311718;
  color: coral;
}

.divider {
  margin-top: 170px;
  width: 100%;
  height: 2px;
  background: linear-gradient( 
    270deg
    , rgb(238, 132, 11), hsla(29, 67%, 47%, 0.589) );;
}
#section3 .caixamsg a button#contato {
  font-size: 20px;
  padding: 15px;
  border-radius: 8px;
  color: white;
  background: #19fc5d;
  cursor: pointer;
  border: none;
}
#section3 .caixamsg a button#contato:hover {
  background: #00ff0d;
}